<div id='login_user'>
  <div class="row">
    <!-- Trigger the modal with a button -->
    <button class="btn btn-sm btn-primary" data-toggle="modal" background-color="#9b73a3" data-target="#login">Log in!</button>

    <div class="modal custom-m" id="login" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
          </div>
          <div class="modal-body" background-color="#e3bec3";>
            <%= render 'session/new' %>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>