<div id = 'unsigned_user'>
    <div class="row">
      <!-- Trigger the modal with a button -->
      <button class= "btn btn-lg btn-primary" data-toggle="modal" background-color = "#9b73a3" data-target="#myModal">Sign up!</button>

      <div class="modal custom-m" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" >
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body" background-color = "#e3bec3";>
              <%=render 'users/new' %>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>