@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


body {
  padding-top: 30px;
  background-color: #ffdb58;
  #header {
	  text-align: center;
	  big_letters {
	  	font-size: 3em;
	  	font-weight: bold ;
	  }
	  small_letters {
	  	font-size: 1.5em;
	  }
  }
  #unsigned_user {
  	 text-align: center;
  }
   #login_user {
     text-align: center;
  }
}
footer {
	text-align: center;
	margin-top: 45px;
	padding-top: 5px;
	footer_font {
		color: white;
	}	
}